/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* @font-face {
  font-family: "CinzelDecorative";
  src: url("/font/CinzelDecorative-Regular.tff") format("truetype");
} */
body {
  /* font-family: "M PLUS 1p", sans-serif !important; */
  font-family: "Alice", serif !important;
  /* font-family: "Copse", serif !important; */
  /* font-family: "Eczar", serif !important; */
  /* font-family: "Lemonada", cursive !important; */
}
